# --- System Files ---
.DS_Store
__pycache__/
.venv/
.env

# --- Data (DO NOT TRACK) ---
# GTZAN is >1GB and will break GitHub pushes
data/
*.zip
*.tar.gz
*.au
*.wav

# --- Heavy ML Artifacts (DO NOT TRACK) ---
# These are too big for standard Git
*.keras
*.h5
*.weights
*.joblib
*.pkl

# --- Results (DO NOT IGNORE) ---
# We use the '!' to force-track these specific files/folders
!logs/
!features/
!models/
!final_report.txt
!*.png
!*.csv

# Exceptions for within ignored folders
# We want the CSV data and reports, but not the heavy .npy binaries if they get too big
features/*.npy
